html {
    font-family: 'HelveticaNeue-Light', sans-serif;
}

.wrapper {
    width: 690px;
    margin: 0 auto;
}

header {
    height: 96px;
    margin-bottom: -21px;
}

.hc {
    position: relative;
    height: 96px;
    /*    width: 690px;*/
}

.logo {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.links {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
}

.signup {
    font-weight: bold;
}

.login {
    border-left: 1px solid black;
    padding-left: 10px;
    margin-right: 10px;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.content {
    height: 739px;
    background: yellow;
}

.content-fa {
    margin: 0 50px;
}

.security {
    width: 197px;
    height: 180px;
    background: grey;
    margin-left: 20px;
}

form {
    width: 350px;
    height: 574px;
    background: green;
    display: inline-block;
}

aside {
    width: 223px;
    height: 528px;
    background: white;
    display: inline-block;
    vertical-align: top;
}

footer {
    height: 145px;
    background: red;
}
