html {
    font-family: 'HelveticaNeue-Light', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 690px;
    margin: 0 auto;
}

header {
    height: 96px;
    margin-bottom: -23px;
}

.hc {
    position: relative;
    height: 96px;
    /*    width: 690px;*/
}

.logo {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.links {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
}

.signup {
    font-weight: bold;
}

.login {
    border-left: 1px solid black;
    padding-left: 10px;
    margin-right: 10px;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.content {
    height: 739px;
    box-shadow: -2px -2px 5px -2px #EAE2E1, 4px 2px 5px 0 #E1E1E1;
}

.content-fa {
    margin: 0 50px;
}

.security {
    width: 197px;
    height: 180px;
    background: #F5F5F5;
    padding: 10px;
    margin-left: 20px;
}

form {
    width: 350px;
    height: 574px;
    display: inline-block;
}

h1 {
    padding-top: 40px;
    padding-bottom: 30px;
}

form label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.email-info input[type="text"],
.email-info input[type="email"],
.email-info input[type="password"],
.email-info select {
    margin-top: 6px;
    width: 90%;
    padding: 5px;
    border-radius: 4px;
}

.email-info select {
    width: 95%;
}

.email-info input[type="text"] {
    width: 30%;
}

.email-info .checkbox {
    font-weight: inherit;
    font-size: 13px;
}

.email-info {
    border-right: 1px solid #D3D3D3;
    padding: 10px 50px 40px 5px;
}

.btn {
    background: #F89406;
    color: #FCF6C0;
    border: 1px solid #F8960A;
    border-radius: 4px;
    padding: 5px;
    width: 72px;
}

aside {
    width: 223px;
    height: 528px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

aside li {
    font-size: 11px;
}

h3 {
    font-size: 20px;
    font-weight: 100;
}

footer {
    margin-top: 10px;
    height: 145px;
    font-size: 11px;
    text-align: center;
}

footer a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.notices {
    padding-top: 10px;
}

.copyright {
    color: #999;
}

.certs img {
    padding: 10px 40px 10px 40px;
}

footer ul li {
    display: inline-block;
}
